<link rel="stylesheet" href="style.css">

<h1>Alterar Status da Atividade</h1>
<form action="/editado/{{id}}" method="POST">
 
  Novo Status:
  <br>
  <textarea name="status" >{{status}}</textarea>
  <br>
  <button type="submit">Enviar</button>
</form>